player-connection-mode=Listen
player-connection-guid=1780753624
player-connection-debug=0
player-connection-project-name=VRMultiplayerTest
player-connection-ip=130.63.92.195
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=11352168c8c8411090ad1b8ab96b3d22
